<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Try again if you enter answers incorrectly</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>It is recommended that you play this game in full screen mode.</string>
		</dict>
	</array>
</dict>
</plist>
