<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Use the joystick to move the car to the building</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>Go into the building to complete this page!</string>
		</dict>
	</array>
</dict>
</plist>
